{% extends "base.html" %}


{% block content %}
  <h2>Newspaper <a class="btn btn-primary" style="float: right" href="{% url 'agency:newspaper-list' %}">Back to the
    list</a></h2>
  <p><strong>Title: </strong>{{ newspaper.title }}</p>
  <p><strong>Topic: </strong>{{ newspaper.topic }}</p>
  <p>{{ newspaper.content }}</p>
  <strong>Authors: </strong>
  {% for author in newspaper.publishers.all %}
    <p>{{ author.first_name }} {{ author.last_name }}</p>

  {% endfor %}

  <p>{{ newspaper.published_date }}</p>
  <form action="{% url 'agency:toggle-redactor' pk=newspaper.id %}" method="post">
    {% csrf_token %}
    {% if newspaper in user.newspapers.all %}
      <input class="btn btn-danger" type="submit" value="Delete me from this newspaper">
    {% else %}
      <input class="btn btn-success" type="submit" value="Assign me to this newspaper">
    {% endif %}
  </form>

{% endblock %}