{% extends "base.html" %}
{% load crispy_forms_filters %}


{% block content %}
  <h2>Authors <a style="float: right" class="btn btn-primary" href="{% url 'agency:redactor-create' %}">Create</a></h2>
  <form action="" method="get" class="form-inline" style="width: 200px;">
    {{ search_form|crispy }}
    <input type="submit" class="btn btn-secondary" value="🔍" style="vertical-align: middle;">
  </form>

  {% if redactor_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      {% for redactor in redactor_list %}
        <tr>
          <td>{{ redactor.id }}</td>
          <td>{{ redactor.username }}</td>
          <td>{{ redactor.first_name }}</td>
          <td>{{ redactor.last_name }}</td>
          <td><a href="{% url 'agency:redactor-update' pk=redactor.id %}">UPDATE</a></td>
          <td><a href="{% url 'agency:redactor-delete' pk=redactor.id %}">DELETE</a></td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
    <p>There are no redactors yet</p>
  {% endif %}

{% endblock %}