{% extends "base.html" %}
{% load crispy_forms_filters %}


{% block content %}
  <h2>Topic list <a style="float: right" class="btn btn-primary" href="{% url 'agency:topic-create' %}">Create</a></h2>
  <form action="" method="get" class="form-inline" style="width: 200px;">
    {{ search_form|crispy }}
    <input type="submit" class="btn btn-secondary" value="🔍" style="vertical-align: middle;">
  </form>
  {% for topic in topic_list %}
    <p>{{ topic.name }}
      <a class="btn btn-secondary" href="{% url 'agency:topic-update' topic.pk %}">Update</a>
      <a class="btn btn-danger" href="{% url 'agency:topic-delete' topic.pk %}">Delete</a>
    </p>
  {% endfor %}

{% endblock %}